---
layout: default
---
{% assign section2 = site.data.home.section2 %}
{% assign section3 = site.data.home.section3 %}
{% assign section4 = site.data.home.section4 %}
<div class="schedule-title">Spring 2021 Schedule</div>
<div class="section-parent">
	<div class="section section-2"><span class="schedule-subtitle">{{ section2.title }}</span>
		<div class="schedule">
			{% for item in section2.details %}
			<div class="row">
				<span class="time">{{ item.time }}</span><span class="event">{% if item.url %}<a href="{{ item.url }}" target="_blank" rel="noopener noreferrer" class="registration"> {{ item.event }} </a> {% else %}{{ item.event }}{% endif %} </span>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="section section3"><span class="schedule-subtitle">{{ section3.title }}</span>
		<div class="schedule">
			{% for item in section3.details %}
			<div class="row">
				<span class="time">{{ item.time }}</span><span class="event">{% if item.url %}<a href="{{ item.url }}" target="_blank" rel="noopener noreferrer" class="registration"> {{ item.event }} </a> {% else %}{{ item.event }}{% endif %} </span>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="section section4"><span class="schedule-subtitle">{{ section4.title }}</span>
		<div class="schedule">
			{% for item in section4.details %}
			<div class="row">
				<span class="time">{{ item.time }}</span><span class="event">{% if item.url %}<a href="{{ item.url }}" target="_blank" rel="noopener noreferrer" class="registration"> {{ item.event }} </a> {% else %}{{ item.event }}{% endif %} </span>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
